<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/styleTransaction.css}"/>
    <title>profil</title>
</head>
<body>
<!--topnav codePen-->
<div class="topnav">
    <b class="active" href="#home">Pay My Buddy</b>
    <a class="active" href="/login?logout">Déconnexion</a>
    <a href="/contact">Amis</a>
    <a href="/profile">Profil</a>
    <a href="/transaction">Transfert</a>
    <a href="/home">Accueil</a>
</div>
<h1>bienvenue sur votre profil</h1>
<h2>voila votre solde</h2>
<button class="custom-btn btn-13">MON SOLDE: <span th:text ="${userSold}"></span></button>
<h1 class="offset-md-5 pb-3">Listes de mes amis</h1>
<div class="col col-1" data-label=""><label for="contact">Mes amis</label>
    <input list="amis" id="contact" name="contact" autocomplete="off"/>
    <datalist  id="amis">
        <select>
            <option th:each="contact:${contacts}" th:value="${contact.firstName+' '+contact.lastName}">
            </option>
        </select>
    </datalist></div>
<!-- add contact -->

</body>
</html>