<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>profil</title>
</head>
<body>
<!--topnav codePen-->
<div class="topnav">
    <b class="active" href="#home">Pay My Buddy</b>
    <a class="active" href="/login?logout">Déconnexion</a>
    <a href="/contact">Amis</a>
    <a href="/profile">Profil</a>
    <a href="/transaction">Transfert</a>
    <a href="/home">Accueil</a>
</div>
<h1>bienvenue sur votre profil</h1>
</body>
</html>