<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styleTransaction.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>transaction</title>
</head>
<body>

<!--Envoi d'argent-->
<h2>Envoi d'argent</h2>
<ul class="responsive-table">
    <li class="table-row">
        <form th:action="@{/transaction}" method="post" th:object="${transaction}">
        <div class="col col-1" data-label=""><label for="contact">Mes amis</label>
            <input hidden th:value="${emitter1.email}" name="emitterEmail"/>
            <input list="amis" id="contact" name="receiverEmail"/>

            <datalist  id="amis">
                <select>
                    <option th:each="contact:${contacts}"th:value="${contact.email}" th:text="${contact.firstName+' '+contact.lastName}">
                    </option>
                </select>
            </datalist></div>
        <div class="col col-2" data-label=""><label for="amount">montant</label>
            <input type="number" id="amount" name="amount"
                   min="1" max="100000"></div>
        <div class="col col-3" data-label=""><label for="description">Description</label>
            <input type="text" id="description" name="description"></div>
        <div class="col col-4" data-label=""><div class="topnav"> <input type="submit" class="btn btn-success offset-md-10" value="Envoyer"></div></div>
        </form>
    </li>
</ul>

<!--Mes transaction-->
<div class="container">
    <h2>Mes Transactions</h2>
    <ul class="responsive-table">
        <li class="table-header">

            <div class="col col-2">AMIS</div>
            <div class="col col-3">SOMME</div>
            <div class="col col-4">Description</div>
        </li>
        <li class="table-row">
            <div class="col col-2" data-label="Amis">

            </div>
            <div class="col col-3" data-label="Somme">$50</div>
            <div class="col col-4" data-label="Description">écharpe</div>
        </li>
        <li class="table-row">
            <div class="col col-2" data-label="Amis">Eren Jager</div>
            <div class="col col-3" data-label="Somme">$350</div>
            <div class="col col-4" data-label="Description">Équipement tridimensionnel </div>
        </li>
        <li class="table-row">
            <div class="col col-2" data-label="Amis">Seig Jager</div>
            <div class="col col-3" data-label="Somme">$80</div>
            <div class="col col-4" data-label="Description">Lunettes</div>
        </li>

    </ul>
</div>
</body>
</html>